<!--
  Generated template for the FavsongPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorites Song</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-card *ngFor="let data of FavSongs">
	  <ion-card-header>
	    <img src="{{data.image}}" alt="">
	  </ion-card-header>
	
	  <ion-card-content>
	    <ion-label>{{data.name}}</ion-label>
	    <p>{{data.description}}}</p>
	    <audio controls>
	    	<source src="{{data.music_url}}" type="audio/wav">
	    </audio>
	  </ion-card-content>
	
	</ion-card>
</ion-content>
