<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="addOnemusik($event)">
    <ion-refresher-content refreshingText ="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let data of allMusik">
    <ion-card-header>
      <button ion-button block (click)="addFav(data)">
        <ion-icon name="star">Favorites</ion-icon>
      </button>
      <img src="{{data.image}}" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{data.name}}</ion-card-title>
      <ion-item>
        <button ion-button item-left (click)="shareSong(data)">Share</button>
        <button ion-button item-right (click)="listenSong(data)">Listen</button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
