<!--
  Generated template for the PlaymusikPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Play Music</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	
	  <ion-card-header>
	    <img src="{{play.image}}" alt="">
	  </ion-card-header>
	
	  <ion-card-content>
	  	<ion-label>{{play.name}}</ion-label>
	 	<ion-row>
	 		<ion-col>
	 			<audio controls>
		    		<source src="{{play.music_url}}" type="audio/wav">
		    	</audio>
	 		</ion-col>
			<ion-col>
				<button ion-button icon-only (click)="stopMusic()">
					<ion-icon name="square"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only (click)="playMusic()">
					<ion-icon name="play"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only (click)="pauseMusic()">
					<ion-icon name="pause"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	
	</ion-card>
	
</ion-content>
